KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", SYMLINK+="incli"    TEST=="power/control" ATTR{power/control}="on"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", SYMLINK+="incli_lionel"    TEST=="power/control" ATTR{power/control}="on"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", SYMLINK+="skd100d"    TEST=="power/control" ATTR{power/control}="on"

big laser:
1a86:7523
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", MODE="0666" SYMLINK+="skd100d"



KERNEL=="tty*"    KERNELS=="1-2.1" MODE:="0666" GROUP:="dialout" SYMLINK+="imu"       TEST=="power/control" ATTR{power/control}="on"
KERNEL=="tty*"    KERNELS=="1-2.2" MODE:="0666" GROUP:="dialout" SYMLINK+="inclinometer" TEST=="power/control" ATTR{power/control}= "on"
KERNEL=="tty*"    KERNELS=="1-2.1" MODE:="0666" GROUP:="dialout" SYMLINK+="CB" TEST=="power/control" ATTR{power/control}= "on"
KERNEL=="tty*"    KERNELS=="1-2.2" MODE:="0666" GROUP:="dialout" SYMLINK+="sonar" TEST=="power/control" ATTR{power/control}= "on"
KERNEL=="tty*"    KERNELS=="1-2.3" MODE:="0666" GROUP:="dialout" SYMLINK+="depthcamera" TEST=="power/control" ATTR{power/control}= "on"