<launch>
    <arg name="test_duration"   default="60"/>
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o $(env DEVICE_CONFIG_PATH)/rosbags/test_sonar_performance --lz4 --duration=$(arg test_duration) -e '/drivers/sonars/(.*)'"/>
    <node pkg="assemble_tools" type="e10_sonar_performance.py" name="e10_sonar_performance">
        <param name="test_duration" value="$(arg test_duration)"/>
    </node>
</launch>