Django==1.11.29
django-guardian==1.4.9
django-compressor==2.3
django-tables2==2.0.6
django-filter==1.1.0
django-appconf==1.0.3
django-crispy-forms==1.7.2
ezdxf==0.8.7
jsonfield==2.0.2
channels==1.1.8
cryptography==2.9.2
psycopg2-binary==2.8.6
pathlib2==2.3.6
djangorestframework==3.9.4
pandas==0.24.2
ipython==5.10.0
Twisted==18.9.0
scikit-image==0.13.1
pymodbus==1.5.2
redis==3.5.3
transitions==0.8.9
pyserial==3.4
filelock==3.1.0
crcmod==1.7
pyusb==1.1.0
enum34==1.1.6
python-dateutil==2.6.1
decorator==4.4.2
networkx==2.2
Pillow==5.1.0
PyWavelets==1.0.3
matplotlib==2.1.1
scipy==1.2.3
termcolor==1.1.0
pbr==5.6.0
testresources==2.0.1
Shapely==1.7.1
Pygments==2.5.2
kiwisolver==1.1.0
