<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>澳谷一站式检测工具</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../static/hr.css">
  <script src="../static/imu.js"></script>
</head>

<body onload="">
  <!-- Header portion -->
  <div style="height:3%;width:100%;">
    <h3 id="title"> 澳谷一站式检测工具 </h3>
    <button type="button" class="btn btn-default" onclick="location.href='/'">主页</button>
    <button type="button" class="btn btn-default" onclick="location.href='/step/imu'">IMU</button>
    <button type="button" class="btn btn-default" onclick="location.href='/step/inclinometer'">Inclinometer</button>
    <button type="button" class="btn btn-default" onclick="location.href='/step/cb'">CB [Encoder & motor driver]</button>
    <button type="button" class="btn btn-default" onclick="location.href='/step/sonar'">超声波</button>
    <button type="button" class="btn btn-default" onclick="location.href='/step/depth'">Depth Camera Sensor</button>
    <hr />
  </div>
  
  <!-- Body portion -->
  <div class="flex-container" style="justify-content: space-between;">
    <!-- left of body -->
    <div>
      <h4 class="display-content-header">State</h4>
      <div id="responseData-state" class="display-content-div"></div>
      <h4 id="readings" class="display-content-header">Configurations</h4>
      <div id="responseData-configs" class="display-content-div"></div>
      <h4 id="readings" class="display-content-header">Readings</h4>
      <div id="responseData-data" class="display-content-div"></div>
      <h4 class="display-content-header">Response information</h4>
      <div id="responseData-info" class="display-content-div"></div>
    </div>

    <!-- middle of body -->
    <div style="display: flex; flex-direction: column; background-color: darksalmon;">
      <!-- buttons -->
      <button class="btn btn-default" id="RIONBtn" parameter="RION" onclick="onClickSetParamBtn(this)">RION</button>
      <button class="btn btn-default" id="WITBtn" parameter="WIT" onclick="onClickSetParamBtn(this)">WIT</button>
    </div>

    <!-- right of body -->
    <div style="display: flex; flex-direction: column; justify-content: space-between; background-color: darksalmon;">
      <!-- buttons -->
      <button class="btn btn-default" id="scanBtn" onclick="onClickCommandBtn(this)">Scan</button>
      <button class="btn btn-default" id="connectBtn" onclick="onClickCommandBtn(this)">Connect</button>
      <button class="btn btn-default" id="disconnectBtn" onclick="onClickCommandBtn(this)">Disconnect</button>
      <button class="btn btn-default" id="setDefaultBtn" onclick="onClickCommandBtn(this)">Set default</button>
      <button class="btn btn-default" id="saveBtn" onclick="onClickCommandBtn(this)">Save</button>
    </div>
  </div>
</body>

</html>