<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>澳谷一站式检测工具</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../static/hr.css">
  <script src="../static/imu.js"></script>
</head>

<body onload="">
  <!-- Header portion -->
  <div class="header-container">
    <h3 id="title"> 澳谷一站式检测工具 </h3>
    <button type="button" class="btn btn-page btn-default" onclick="location.href='/'">主页</button>
    <button type="button" class="btn btn-page btn-default highlight" onclick="location.href='/step/imu'">IMU</button>
    <button type="button" class="btn btn-page btn-default" onclick="location.href='/step/inclinometer'">Inclinometer</button>
    <button type="button" class="btn btn-page btn-default" onclick="location.href='/step/cb'">CB [Encoder & motor driver]</button>
    <button type="button" class="btn btn-page btn-default" onclick="location.href='/step/sonar'">超声波</button>
    <hr />
  </div>
  
  <!-- Body portion -->
  <div class="flex-container">
    <div class="content-container">
      <!-- top-content -->
      <div class="container green-container top-content-container">
        <!-- top-left-content -->
        <div>
          <h4 class="display-content-header">Configurations</h4>
          <div id="responseData-configs" class="display-text-div"></div>
          <!-- <h4 class="display-content-header">Configurations (Chinese)</h4>
          <div id="responseData-configs_chinese" class="display-text-div"></div> -->
          <h4 class="display-content-header">Data</h4>
          <div id="responseData-data" class="display-text-div"></div>
        </div>

        <!-- top-mid-content -->
        <div>
          <h4 class="display-content-header">NG / G</h4>
          <div id="responseData-data_checker" class="display-state-div">G</div>
        </div>

        <!-- top-right-content -->
        <div class="top-right-content-container">
          <!-- buttons -->
          <div class="display-content-header">Select Baud rate:</div>
          <button class="btn btn-command btn-default" id="setDefaultBtn" baudrate="9600" onclick="onClickCommandBtn(this)">9600 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" baudrate="19200" onclick="onClickCommandBtn(this)">19200 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" baudrate="57600" onclick="onClickCommandBtn(this)">57600 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" baudrate="115200" onclick="onClickCommandBtn(this)">115200 baud</button>
        </div>
      </div>
      
      <!-- mid-content -->
      <div class="container green-container">
        <h4 class="display-content-header">State</h4>
        <div id="responseData-state" class="display-state-div">IDLE</div>
        <h4 class="display-content-header">User Information</h4>
        <div id="responseData-info" class="display-text-div"></div>
        <!-- <h4 class="display-content-header">User Information (Chinese)</h4>
        <div id="responseData-info_chinese" class="display-text-div"></div> -->
      </div>

      <!-- low-content -->
      <div class="container green-container">
        <h4 class="display-content-header">Instructions</h4>
        <div id="responseData-instructions_english" class="display-text-div">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, excepturi repellat delectus optio laborum eligendi provident! Distinctio neque repellat enim sapiente iste unde ipsum, minima facilis rem sunt placeat expedita.</div>
        <!-- <h4 class="display-content-header">Instructions (Chinese)</h4>
        <div id="responseData-instructions_chinese" class="display-text-div"></div> -->
      </div>
    </div>
  </div>
</body>

</html>