<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>澳谷一站式检测工具</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/hr.css">
  
  <script src="../static/lang.js"></script>
  <script src="../static/index.js"></script>
  <script src="../static/inclinometer.js"></script>
</head>

<body onload="">
  <!-- Header portion -->
  <div class="header-container">
    <h3 id="title"> August Robotics All-In-One hardware testing station </h3>
    <button id="homePageBtn" type="button" class="btn btn-page btn-default" onclick="location.href='/'">Home</button>
    <button id="imuPageBtn" component="imu" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">IMU</button>
    <button id="inclinometerPageBtn" component="inclinometer" type="button" class="btn btn-page btn-default highlight" onclick="onClickComponentPageBtn(this)">Inclinometer</button>
    <button id="cbPageBtn" component="cb" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">CB [Encoder & motor driver]</button>
    <button id="sonarPageBtn" component="sonar" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">Sonar</button>
    <button id="lidarPageBtn" component="lidar" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">Lidar</button>
    <button id="switchLangBtn" type="button" class="btn btn-page btn-default" onclick="switch_lang()">中文</button>
    <hr />
  </div>
  
  <!-- Body portion -->
  <div class="body-container">
    <div class="content-container grid-3col-container">
      <!-- left-content -->
      <div class="container green-container left-content-container grid-col-span2">
        <!-- left-left-content -->
        <div>
          <h4 id="configurationsHeader" class="display-content-header">Configurations</h4>
          <div id="responseData-configs" class="display-text-div english_element"></div>
          <div id="responseData-configs_chinese" class="display-text-div chinese_element"></div>
          <h4 id="dataHeader" class="display-content-header">Data</h4>
          <div id="responseData-data" class="display-text-div"></div>
        </div>

        <!-- left-mid-content -->
        <div>
          <h4 id="dataValidityHeader" class="display-content-header">NG / G</h4>
          <div id="responseData-data_checker" class="display-state-div"></div>
        </div>

        <!-- left-right-content -->
        <div class="left-right-content-container">
          <!-- buttons -->
          <div id="commandButtonsHeader" class="display-content-header">Select Baud Rate:</div>
          <button disabled class="btn btn-command btn-default english_element" id="setDefaultBtn" index="0" baudrate="2400" onclick="onClickCommandBtn(this)">2400 baud</button>
          <button disabled class="btn btn-command btn-default english_element" id="setDefaultBtn" index="1" baudrate="4800" onclick="onClickCommandBtn(this)">4800 baud</button>
          <button class="btn btn-command btn-default english_element" id="setDefaultBtn" index="2" baudrate="9600" onclick="onClickCommandBtn(this)">9600 baud</button>
          <button class="btn btn-command btn-default english_element" id="setDefaultBtn" index="3" baudrate="19200" onclick="onClickCommandBtn(this)">19200 baud</button>
          <button class="btn btn-command btn-default english_element" id="setDefaultBtn" index="4" baudrate="115200" onclick="onClickCommandBtn(this)">115200 baud</button>
          <button disabled class="btn btn-command btn-default english_element" id="setDefaultBtn" index="5" baudrate="14400" onclick="onClickCommandBtn(this)">14400 baud</button>
          <button disabled class="btn btn-command btn-default english_element" id="setDefaultBtn" index="6" baudrate="38400" onclick="onClickCommandBtn(this)">38400 baud</button>
          <button class="btn btn-command btn-default english_element" id="setDefaultBtn" index="7" baudrate="57600" onclick="onClickCommandBtn(this)">57600 baud</button>

          <button disabled class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="0" baudrate="2400" onclick="onClickCommandBtn(this)">2400 波特率</button>
          <button disabled class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="1" baudrate="4800" onclick="onClickCommandBtn(this)">4800 波特率</button>
          <button class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="2" baudrate="9600" onclick="onClickCommandBtn(this)">9600 波特率</button>
          <button class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="3" baudrate="19200" onclick="onClickCommandBtn(this)">19200 波特率</button>
          <button class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="4" baudrate="115200" onclick="onClickCommandBtn(this)">115200 波特率</button>
          <button disabled class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="5" baudrate="14400" onclick="onClickCommandBtn(this)">14400 波特率</button>
          <button disabled class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="6" baudrate="38400" onclick="onClickCommandBtn(this)">38400 波特率</button>
          <button class="btn btn-command btn-default chinese_element" id="setDefaultBtn" index="7" baudrate="57600" onclick="onClickCommandBtn(this)">57600 波特率</button>
        </div>
      </div>
      
      <!-- right-content -->
      <div class="container green-container grid-col-span1">
        <h4 id="stateHeader" class="display-content-header">State</h4>
        <div id="responseData-state" class="display-state-div"></div>
        <h4 id="userInfoHeader" class="display-content-header">User Information</h4>
        <div id="responseData-info" class="display-text-div english_element"></div>
        <div id="responseData-info_chinese" class="display-text-div chinese_element"></div>
        <h4 id="instructionsHeader" class="display-content-header">Instructions</h4>
        <pre id="responseData-instructions_english" class="display-text-div english_element">
0. Plug in Inclinometer
1. Click on Inclinometer button (Ensure Inclinometer is already plugged in else repeat from step 0)
2. Observe readings (Configurations, Data, State, User Information)
3. NG/G displays whether the Inclinometer has valid readings
4. Click on the required Baud rate (Only if the current baud rate is wrong/ invalid)
5. Check new readings as needed
6. Plug out the Inclinometer USB from the microcontroller to disconnect
* Ensure that the Inclinometer is the only component plugged in
* Do not plug in other hardware components while testing          
        </pre>
        <pre id="responseData-instructions_chinese" class="display-text-div chinese_element">
0. 插入倾角仪
1. 点击倾角仪按钮（确保倾角仪已插入，否则从第0步重新开始）
2. 观察读数（配置、数据、状态、用户信息）
3. NG/G显示倾角仪是否有有效读数
4. 点击所需的波特率（仅当当前波特率错误/无效时）
5. 检查新的数据
6. 从微控制器拔出倾角仪的USB以断开连接
* 在测试过程中确保倾角仪是唯一插入的模块
* 在测试过程中不要插入其他硬件模块          
        </pre>
      </div>
    </div>
  </div>
</body>

</html>