<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>澳谷一站式检测工具</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/hr.css">
  
  <script src="../static/index.js"></script>
  <script src="../static/inclinometer.js"></script>
</head>

<body onload="">
  <!-- Header portion -->
  <div class="header-container">
    <h3 id="title"> 澳谷一站式检测工具 </h3>
    <button type="button" class="btn btn-page btn-default" onclick="location.href='/'">主页</button>
    <button component="imu" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">IMU</button>
    <button component="inclinometer" type="button" class="btn btn-page btn-default highlight" onclick="onClickComponentPageBtn(this)">Inclinometer</button>
    <button component="cb" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">CB [Encoder & motor driver]</button>
    <button component="sonar" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">超声波</button>
    <hr />
  </div>
  
  <!-- Body portion -->
  <div class="body-container">
    <div class="content-container grid-3col-container">
      <!-- left-content -->
      <div class="container green-container left-content-container grid-col-span2">
        <!-- left-left-content -->
        <div>
          <h4 class="display-content-header">Configurations</h4>
          <div id="responseData-configs" class="display-text-div"></div>
          <!-- <h4 class="display-content-header">Configurations (Chinese)</h4>
          <div id="responseData-configs_chinese" class="display-text-div"></div> -->
          <h4 class="display-content-header">Data</h4>
          <div id="responseData-data" class="display-text-div"></div>
        </div>

        <!-- left-mid-content -->
        <div>
          <h4 class="display-content-header">NG / G</h4>
          <div id="responseData-data_checker" class="display-state-div"></div>
        </div>

        <!-- left-right-content -->
        <div class="left-right-content-container">
          <!-- buttons -->
          <div class="display-content-header">Select Baud rate:</div>
          <button disabled class="btn btn-command btn-default" id="setDefaultBtn" index="0" baudrate="2400" onclick="onClickCommandBtn(this)">2400 baud</button>
          <button disabled class="btn btn-command btn-default" id="setDefaultBtn" index="1" baudrate="4800" onclick="onClickCommandBtn(this)">4800 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" index="2" baudrate="9600" onclick="onClickCommandBtn(this)">9600 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" index="3" baudrate="19200" onclick="onClickCommandBtn(this)">19200 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" index="4" baudrate="115200" onclick="onClickCommandBtn(this)">115200 baud</button>
          <button disabled class="btn btn-command btn-default" id="setDefaultBtn" index="5" baudrate="14400" onclick="onClickCommandBtn(this)">14400 baud</button>
          <button disabled class="btn btn-command btn-default" id="setDefaultBtn" index="6" baudrate="38400" onclick="onClickCommandBtn(this)">38400 baud</button>
          <button class="btn btn-command btn-default" id="setDefaultBtn" index="7" baudrate="57600" onclick="onClickCommandBtn(this)">57600 baud</button>
        </div>
      </div>
      
      <!-- right-content -->
      <div class="container green-container grid-col-span1">
        <h4 class="display-content-header">State</h4>
        <div id="responseData-state" class="display-state-div"></div>
        <h4 class="display-content-header">User Information</h4>
        <div id="responseData-info" class="display-text-div"></div>
        <!-- <h4 class="display-content-header">User Information (Chinese)</h4>
        <div id="responseData-info_chinese" class="display-text-div"></div> -->
        <h4 class="display-content-header">Instructions</h4>
        <div id="responseData-instructions_english" class="display-text-div">TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, excepturi repellat delectus optio laborum eligendi provident! Distinctio neque repellat enim sapiente iste unde ipsum, minima facilis rem sunt placeat expedita.</div>
        <!-- <h4 class="display-content-header">Instructions (Chinese)</h4>
        <div id="responseData-instructions_chinese" class="display-text-div"></div> -->
      </div>
    </div>
  </div>
</body>

</html>