<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>澳谷一站式检测工具</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="../static/hr.css">
  <script src="../static/index.js"></script>
</head>

<body onload="">
  <!-- Header portion -->
  <div class="header-container">
    <h2 id="title"> 澳谷一站式检测工具 </h2>
    <button type="button" class="btn btn-page btn-default highlight" onclick="location.href='/'">主页</button> <!-- no component-->
    <button component="imu" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">IMU</button>
    <button component="inclinometer" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">Inclinometer</button>
    <button component="cb" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">CB [Encoder & motor driver]</button>
    <button component="sonar" type="button" class="btn btn-page btn-default" onclick="onClickComponentPageBtn(this)">超声波</button>
    <hr />
  </div>
</body>