<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>澳谷一站式检测工具</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/hr.css">
    <!-- <script src="../static/draw_lidar.js"></script>
    <script src="../static/meterial_inspection.js"></script> -->
</head>

<body onload="">
    <div style="height:3%;width:100%;float:left;">
        <h3 id="title"> 澳谷一站式检测工具 </h3>
        <button hidden="hidden"  type="button" class="btn btn-default" onclick="location.href='/step/sonar'">超声波</button>
        <button hidden="hidden" type="button" class="btn btn-default" onclick="location.href='/step/ldlidar'">LD雷达</button>
    </div>
</body>

</html>