aioredis==1.3.1
amqp==5.0.6
asgiref==3.4.1
astroid==2.8.4
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
billiard==3.6.4.0
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==35.0.0
daphne==3.0.2
decorator==5.1.0
Django==3.2.10
django-timezone-field==4.2.1
grpcio==1.42.0
grpcio-tools==1.42.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
ipython==7.29.0
isort==5.9.3
jedi==0.18.0
kombu==5.1.0
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.3
mccabe==0.6.1
msgpack==1.0.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pipdeptree==2.2.0
platformdirs==2.4.0
prompt-toolkit==3.0.21
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.10.0
pylint==2.11.1
pyOpenSSL==21.0.0
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2021.3
redis==3.5.3
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
traitlets==5.1.1
Twisted==21.7.0
txaio==21.2.1
typing-extensions==3.10.0.2
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
zope.interface==5.4.0
djangorestframework==3.12.4
scipy==1.7.3
shapely==1.8.0
scikit-image==0.19.0
psycopg2-binary==2.9.2
pillow==8.4.0
catkin_tools==0.8.2
