<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GS Lionel calibration</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/hr.css">
    <script src="../static/lang.js"></script>
    <script src="../static/refresh_once.js"></script>
    <script src="../static/calibration.js"></script>
</head>

<body onload="after_load()">
    <div style="height:3%;width:100%;float:left;">
        <h3 id="title"> GS/Lionel 标定流程 </h3>
        <button id="INITIALIZE_SERVO" type="button" class="btn btn-default" onclick="location.href='/step/initialize_servo'">1.初始化电机</button>
        <button id="CAMERA_SHARPNESS" type="button" class="btn btn-default" onclick="location.href='/step/camera_sharpness'">2.相机锐度</button>
        <button id="CAMERA_LASER_ALIGNMENT" class="btn btn-default" onclick="location.href='/step/camera_laser_alignment'">3.大相机激光对齐(GS_only)</button>
        <button id="CAMERAS_ALIGNMENT" class="btn btn-default" onclick="location.href='/step/cameras_alignment'">4.大小相机对齐</button>
        <button id="CAMERAS_ANGLE" class="btn btn-default" onclick="location.href='/step/cameras_angle'">5.大小相机夹角</button>
        <button id="VERTICAL_SERVO_ZERO" class="btn btn-default" onclick="location.href='/step/vertical_servo_zero'">6.垂直电机0点</button>
        <button id="IMU_CALIBRATION" type="button" class="btn btn-default" onclick="location.href='/step/IMU_calibration'">7.IMU标定(Lionel_only)</button>
        <button id="HORIZONTAL_OFFSET" type="button" class="btn btn-default" onclick="location.href='/step/horizontal_offset'">8.水平零点补偿(Lionel_only)</button>
        <button id="switch_lang" type="button" class="btn btn-default" onclick="switch_lang()">English</button>
        <hr />
    </div>


    <div>
        <div style="height:20%;width:55%;float:left;margin-left: 2%;">
            <button id="camera_select_long" type="button" class="btn btn-default cameras" onmousedown="command('USE_LONG_CAMERA')">使用大相机</button>
            <h4 id="long_camera_data">
            </h4>
            <img id="img1" alt="" style="width: 640px; height: 480px; z-index: 99;position: relative;" onmousewheel="return rollImg(this)">
        </div>

        <div style="height:20%;width:55%;float:left;margin-left: 2%;">
            <button id="camera_select_short" type="button" class="btn btn-default cameras" onmousedown="command('USE_SHORT_CAMERA')">使用小相机</button>
            <h4 id="short_camera_data">
            </h4>
            <img id="img2" alt="" style="width: 640px; height: 480px; z-index: 99;position: relative;" onmousewheel="return rollImg(this)">
        </div>
        <div style="height: 20%;width: 100%;">
            <button id="disable_servos" type="button" class="btn btn-default servos_laser_operate" onmousedown="command('SERVOS_DISABLE')">取消使能电机</button>
            <button id="enable_servos" type="button" class="btn btn-default servos_laser_operate" onmousedown="command('SERVOS_ENABLE')">使能电机</button>
            <button id="laser_on" type="button" class="btn btn-default servos_laser_operate" onmousedown="command('LASER_ON')">打开激光</button>
            <button id="laser_off" type="button" class="btn btn-default servos_laser_operate" onmousedown="command('LASER_OFF')">关闭激光</button>
            <button id="reset" type="button" class="btn btn-danger" onmousedown="command('RESET')">重置</button>
            <button id="run" type="button" class="btn btn-info" onmousedown="command('RUN')">运行</button>
            <button id="try_track" type="button" class="btn btn-info" onmousedown="command('TEST_TRACK')">试跟踪</button>
            <button id="done" type="button" class="btn btn-info" onmousedown="command('DONE')">完成</button>
            <!-- <button type="button" class="btn btn-success" onmousedown="command('save_data')">save_data</button> -->
        </div>

        <div style="background-color:burlywood;height: 20%;width:45%; margin-left: 55%;">
            <h3 id="hostname">主机名</h3>
        </div>

        <div style="background-color:darksalmon;height: 25%;width:45%;margin-left: 55%;">
            <h3 id="current_task">当前任务</h3>
        </div>

        <div style="background-color:gold;height: 25%;width:45%;margin-left: 55%;">
            <h3 id="client_status">任务状态</h3>
        </div>

        <div style="background-color: aqua;height: 30%;width:45%;margin-left: 55%;">
            <h2 id="user_manual_title"> 用户操作指南
            </h2>
            <h6 id="user_manual">
                {{just_do}}
            </h6>
        </div>
    </div>


    <div style="background-color:chocolate;height: 50%;width:45%; margin-left: 55%;">
        <h2 id="task_data_title"> 详细数据
        </h2>
        <button id="save_data" type="button" class="btn btn-success" onmousedown="command('SAVE')">保存数据</button>
        <h3 id="job_data">

        </h3>
        <!-- <div id='divID'> -->
    </div>

    <div style="background-color:aquamarine;height: 50%;width:45%; margin-left: 55%;">
        <div class="div_container">
            <h2 id="data_need_save" class="childrenBox"> 需要保存的数据
            </h2>
            <button id="download_data" type="button" class="btn btn-success childrenBox" onmousedown="download()">保存数据到本地</button>
        </div>
        <h4>
            <div id="need_save_data">
            </div>
        </h4>
    </div>
    </div>

    <div style="background-color:gray;height: 50%;width:45%; margin-left: 55%;">
        <h2 id="last_data_title"> 上一次保存的数据
        </h2>
        <h4>
            <div id="last_data">

            </div>
        </h4>
    </div>
    <div style="height: 90%;width: 100%;">
    </div>
    </div>

</body>

</html>