/* Styling */
.highlight {
    background-color: #51c057; /* Dark green */
    color: black;
}

/* ------------------------------------------------------------------------------------------------ */
/* Containers */
body {
    /* default font size in chrome is 16 px, medium will handle this */
    font-size: medium; /* bootstrap changes this to 14px */
    height:100vh
}

.header-container {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 85vh
}

.content-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 97%;
    padding: 3%;
    border-radius: 2%;
    background-color: rgb(221, 255, 221);
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.div_container {
    white-space: nowrap;
}

div label,
div input {
    display: block; /* Make labels and inputs behave like block-level elements */
}

.lable {
    display: inline-block;
}

.childrenBox {
    display: flex;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------------------------------------------ */
/* Displaying content */
.display-content-header {
    background-color: #f5f5f5;
}

.display-content-div {
    background-color: darksalmon;
}

pre {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Buttons */
.btn {  /* bootstrap id */
    font-size: medium;
}

.btn:hover {
   background-color: #45a049; /* Darker green */
   color: white;
}

.btn:active {
    background-color: #3e8e41; /* Darker green */
    color: white;
}

.btn-page {
    margin-left: 2px;
}

.btn-command {
    margin: 1px;
    padding: 6px 6px;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
  
/* Default button color */
button {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Hover effect */
button:hover {
    background-color: #45a049; /* Darker green */
}

/* Active/focus effect */
button:active {
    background-color: #3e8e41; /* Dark green */
}
