<launch>
	<node name="imu_node" pkg="meterial_inspection_tools" type="imu_driver.py" output="screen" respawn="true"/>
	<node name="inclinometer_node" pkg="meterial_inspection_tools" type="inclinometer_driver.py" output="screen" respawn="true"/>
	<node name="cb_node" pkg="meterial_inspection_tools" type="cb_driver.py" output="screen" respawn="true"/>
	<node name="sonar_node" pkg="meterial_inspection_tools" type="sonar_driver.py" output="screen" respawn="true"/>
	<node name="depthcamera_node" pkg="meterial_inspection_tools" type="depth_camera_driver.py" output="screen" respawn="true"/>
	<node name="lidar_node" pkg="meterial_inspection_tools" type="lidar_driver.py" output="screen" respawn="true"/>
</launch>

