<launch>
	<node name="servos_stepper_driver" pkg="boothbot_driver" type="servos_stepper_driver.py" respawn="true" output="log">
	</node>
	<!-- <include file="$(find augustbot_base)/launch/base.launch">
		<arg name="use_small_probe" value="false" />
		<arg name="enable_side_sonar" value="false" />
	</include> -->
	<include file="$(find boothbot_calibration_tools)/launch/lionel_base.launch"></include>
	<include file="$(find boothbot_calibration_tools)/launch/depth_camera.launch"></include>
	
	<!-- <include file="$(find boothbot_calibration_tools)/launch/boothbot_CB_inclination_tools.launch"></include> -->
    <!-- inclinometer -->
    <node pkg="boothbot_calibration_tools" type="inclinometer_driver_node.py" name="inclinometer_driver_node" output="log"  respawn="true" respawn_delay="5">
    </node>
    <!-- caculate CB inclination  -->
    <node pkg="boothbot_calibration_tools" type="CB_inclinometer_driver.py" name="CB_inclinometer_driver" output="log">
    </node>

	<!-- <node name="inclinometer_driver" pkg="boothbot_calibration_tools" type="inclinometer_driver.py" output="log" respawn="true" respawn_delay="5"> 
	</node> -->
    <!-- <node name="marking_module" pkg="boothbot_marking" type="marking_node.py" output="log">
    </node>	 -->

    <node name="io_driver" pkg="boothbot_driver" type="io_driver_node.py" output="log">
    </node>

	<node name="painter_driver" pkg="boothbot_painter" type="painter_driver.py" output="log">
	</node>

	<include file="$(find boothbot_perception)/launch/check_server.launch"></include>


</launch>
